# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/shelf
/.idea/vcs.xml
/.idea/runConfigurations
.DS_Store

# Build artifacts
**/build/
/captures

# External Native Build
.externalNativeBuild
.cxx
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Makefile
rules.ninja

# Local environment
local.properties

# Secrets
**/google-services.json

# Log files
*.log

# Android profiling
*.hprof
